@use '../modules/variables' as *;

//main->section-formulario
.formulario{
    background-color: $color-fondo;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transform: 0.3s;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 30px;

    &__etiqueta{
        display: block;
        margin-top: 10px;
    }

    &__input{
        display: block;
        margin-left: 5%;
        width: 90%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        height: 40px;
        font-size: larger;

        &--boton{
            margin-top: 20px;
        }
    }

    &__area{
        display: block;
        margin-left: 5%;
        width: 90%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        height: 150px;
        font-size: larger;
        resize: none;
    }
}
